{% extends './base.html' %}
{%block title%} About {%endblock%}

{%block content%} 
<h1> OWASP Top 10 Security Risks & Vulnerabilities </h1>
<p>Note: OWASP expects to complete the next major update of its Top Ten project sometime this year. And it’s considering a number of new contenders that have risen in prominence over the past 3-4 years. Follow us here for an update as soon as OWASP Top Ten 2021 officially drops. As of our post date, OWASP recently closed its call for input from the application security industry – hopefully indicating the new report will be coming soon.”.
<br>
When managing a website, it’s important to stay on top of the most critical security risks and vulnerabilities. The OWASP Top 10 is a great starting point to bring awareness to the biggest threats to websites in 2021.
<br>
<h2>What is OWASP?</h2><br>
OWASP stands for the Open Web Application Security Project, an online community that produces articles, methodologies, documentation, tools, and technologies in the field of web application security.
<br>
<h2>What is the OWASP Top 10? </h2><br>
OWASP Top 10 is the list of the 10 most common application vulnerabilities. It also shows their risks, impacts, and countermeasures. Updated every three to four years, the latest OWASP vulnerabilities list was released in 2017. Let’s dive into it!
<br>
<br>
<h3>The Top 10 OWASP vulnerabilities in 2021 are:</h3><br>
Injection<br>
Broken authentication<br>
Sensitive data exposure<br>
XML external entities (XXE)<br>
Broken access control<br>
Security misconfigurations<br>
Cross site scripting (XSS)<br>
Insecure deserialization<br>
Using components with known vulnerabilities<br>
Insufficient logging and monitoring</p>
{%endblock%}